.table-users {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 350px;
}
.tombol_login{
	background: yellow;
	color: black;
	font-size: 10pt;
	width: 15%;
	border: none;
	border-radius: 7px;
	padding: 10px 10px;
}